#indexBody {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: center; */
    color: rgb(159, 111, 214);
    background-image: url("./images/Monarch_Migration.jpeg");
    background-repeat: no-repeat;
    opacity: 0.97;
    font-family: 'Amatic SC', cursive;
    /* width: "100%"; */
    /* height: "100%"; */
    background-size: cover;
}

#title {
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #b5e9ef;
}

footer {
    display: flex;
    justify-content: center;
}

#column {
    display: flex;
    justify-content: center;
}

#about {
 background-color: antiquewhite;
}

#aboutCont {
    text-align: center;
}
form {
    color: white;   
}

#card {
    padding: 5px;
    margin: 5px;
    opacity: 100%;
    background-color: burlywood;
}
#famName {
    color: white;
    background-color: rgb(243, 144, 24);
}

#commExamp {
    color: white;
    background-color: rgb(86, 144, 70);
}

#add, #formCont {
    justify-content: space-evenly;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    width: 200px;
    object-fit: cover;
}