#indexBody {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(159, 111, 214);
    background-image: url("./images/Monarch_Migration.jpeg");
    background-repeat: no-repeat;
    opacity: 0.97;
    font-family: 'Amatic SC', cursive;
    background-size: cover;
}

#title {
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #b5e9ef;
}

.rowSpace, aboutTitle {
    padding: 30px;
    margin: 40px;
    border-style: solid;
    border-width: 5px;
    /* border-top: 10px;
    border-left: 10px;
    border-right: 10px;  */
    border-color: blueviolet;
}

footer, #column, #aboutHeader {
    display: flex;
    justify-content: center;
    text-align: center;
}

#about {
 background-color: rgb(131, 168, 216);
}

#aboutCont {
    text-align: center;
}
form {
    color: white;   
}

#card {
    padding: 5px;
    margin: 5px;
    opacity: 100%;
    background-color: burlywood;
}
#famName {
    color: white;
    background-color: rgb(243, 144, 24);
}

#commExamp {
    color: white;
    background-color: rgb(86, 144, 70);
}

#add, #formCont {
    justify-content: space-evenly;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    width: 200px;
    object-fit: cover;
}